/* Body & Header */
body {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #efb766;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    background: #efb766;
    color: #333333;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 650px) {
    .container {
        flex-direction: column-reverse;
    }
}

/* Menu */
.menu-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    gap: 1em;
}

.sqColor {
    border-radius: .5rem;
    height: 5em;
    width: 150px;
}

button {
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1em;
    width: 150px;
    font-size: 1rem;
}

button.active {
    border: 1px solid #e4e1e1;
    background-color: #414141;
    color: #e4e1e1;
}

button:hover {
    background-color: #414141;
    color: #e4e1e1;
    cursor: pointer;
}

.gridSize {
    font-size: 15px;
}

.gridSizeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    border-radius: .5rem;
    background: #ffff;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.gridSizeSlider:hover {
    opacity: 1;
}

.gridSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: .3rem;
    background: #04AA6D;
}

.gridSizeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #04AA6D;
}

/* Square Div */
.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    align-self: center;
    border: 5px solid #333333;
}
@media (max-width: 500px) {
    .grid-container {
        display: block;
    }
}

/*
.row-div {
    outline: 1px solid black;
    padding: .5em;
    background: whitesmoke;
}

@media (max-width: 500px) {
    .row-div {
        display: block;
    }
}
*/

.sq-div {
    outline: 1px solid black;
    background: whitesmoke;
    user-select: none;
}

.sq-div-off {
    outline: 0px solid black;
    background: whitesmoke;
    user-select: none;
}

.sq-div:hover {
    background: #04AA6D;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background: #efb766;
    color: #333333;
    font-size: 12px;
    margin-top: auto;
}

.footer a {
    text-decoration: none;
    color: #333333;
}

.footer a:hover {
    text-decoration: underline;
}

